body {
    color:  rgb(250, 102, 102);
    background-color: darkslategray;
    font-family: bold, 'Courier New', Courier, monospace;
    text-shadow: 1px 2px #000000;
}


#diet {
    width: 50%;
}

.haley {
    display: inline-block;
    width: 500px;
}

.lucy {
    display: inline-block;
    width: 350px;
    margin-right: 5px;
}
.rigby {
    display: inline-block;
    width: 350px; 
}

.cwu {
    position: relative;
    width: 300px 300px 300px 300px;
}
